:root {
    --accent-color: #D64E48;
  }

* {
    color: white;
    font-family: 'Lexend Tera', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    background: #04052E;
    max-width: 75%;
}

h1 {
    color: var(--accent-color);
    font-size: 36px;
    margin: 4% auto 2%;
}

input, select {
    border: none;
    border-bottom: 1px solid var(--accent-color);
    background: none;
    color: white;
    width: 33vw;
    margin: 10px 50px;
    padding: 10px;
    font-size: 24px;
}

label {
    text-align: center;
    font-size: 24px;
    margin: 0
}

select {
    background: #04052E;
}

button {
    background: var(--accent-color);
    border: none;
    padding: 30px 80px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    margin: 3%;
}

.input {
    display: flex;
    flex-direction: column;
}

.inputs-container {
    display:flex;
    margin: 2%;
    justify-content: space-between;
}

#output {
    font-size: 30px;
    margin: 3%;
    display: none;
}

.no-pluto-section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    align-items: center;
}

.no-pluto-section label, .no-pluto-section input {
    width: auto;
}

input.checkbox {
    width: 25px; 
    height: 25px;
}

#custom-planet {
    background-color: transparent;
    border: 1px solid var(--accent-color);
    transition: border .3s;
}

#custom-planet:hover {
    border: 10px solid var(--accent-color);
}

#planet-form {
    display: none;
}

.add-planet-input {
    width: 20vw;
}

.add-planet-button {
    padding: 15px 40px;
    font-size: 20px;
    margin: 10px 50px;
}

.text-accent-color {
    color: var(--accent-color);
}