:root {
    --accent-color: #D64E48;
  }

* {
    color: white;
    font-family: 'Lexend Tera', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    background: #04052E;
}

h1 {
    color: var(--accent-color);
}

input, select {
    border: none;
    border-bottom: 1px solid var(--accent-color);
    background: none;
    color: white;
}

select {
    background: #04052E;
}

button {
    background: var(--accent-color);
    border: none;
}

.input {
    display: flex;
    flex-direction: column;
}

.inputs-container {
    display:flex;
}

.text-accent-color {
    color: var(--accent-color);
}